<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright 2013 Daniel Grech
  ~
  ~    Licensed under the Apache License, Version 2.0 (the "License");
  ~    you may not use this file except in compliance with the License.
  ~    You may obtain a copy of the License at
  ~
  ~        http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~    Unless required by applicable law or agreed to in writing, software
  ~    distributed under the License is distributed on an "AS IS" BASIS,
  ~    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~    See the License for the specific language governing permissions and
  ~    limitations under the License.
  -->

<manifest
        xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.dgsd.android.ShiftTrackerFree"
        android:versionCode="5"
        android:versionName="1.11">

    <permission
            android:name="dgsd.permission.READ"
            android:permissionGroup="android.permission-group.PERSONAL_INFO"
            android:label="@string/read_permission_label"
            android:description="@string/read_permission_description"
            android:protectionLevel="normal"/>

    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-sdk
            android:minSdkVersion="9"
            android:targetSdkVersion="16"/>

    <application
            android:name="com.dgsd.android.ShiftTrackerFree.StFreeApp"
            android:label="@string/app_name"
            android:icon="@drawable/ic_launcher"
            android:theme="@style/Theme.shift_tracker"
            android:backupAgent="com.dgsd.android.ShiftTracker.StBackupAgent">

        <meta-data
                android:name="com.google.android.backup.api_key"
                android:value="AEdPqrEAAAAISod_tg7g3RdUibX-AbnFlAAdv6O9ieiQko6tjA"/>

        <!-- Providers -->
        <provider
                android:permission="dgsd.permission.READ"
                android:authorities="com.dgsd.android.ShiftTrackerFree.Data.Provider"
                android:name="com.dgsd.android.ShiftTracker.Data.Provider"/>

        <!-- Services -->
        <service android:name="com.dgsd.android.ShiftTracker.Service.DbService"/>

        <!-- Activities -->
        <activity
                android:name="com.dgsd.android.ShiftTracker.StartupActivity"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
                android:name="com.dgsd.android.ShiftTracker.MainActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name="com.dgsd.android.ShiftTracker.LicensesActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name="com.dgsd.android.ShiftTracker.SettingsActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name="com.dgsd.android.ShiftTracker.EditShiftActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden"/>
    </application>
</manifest>
