<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dgsd.android.shifttracker">


    <application>

        <meta-data android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAI5LxgkBOyLFOxkGNgntS2S_Grczgnf3RIst5Hlw" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>


        <service
            android:name=".service.STDashClockExtension"
            android:icon="@drawable/ic_dashclock_icon"
            android:label="@string/app_name"
            android:permission="com.google.android.apps.dashclock.permission.READ_EXTENSION_DATA">

            <intent-filter>
                <action android:name="com.google.android.apps.dashclock.Extension" />
            </intent-filter>

            <meta-data
                android:name="protocolVersion"
                android:value="2" />
            <meta-data
                android:name="worldReadable"
                android:value="true" />
            <meta-data
                android:name="description"
                android:value="@string/dashclock_extension_description" />
        </service>

        <service
            android:name=".widget.ShiftListWidgetService"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <receiver
            android:name=".widget.NewShiftWidgetProvider"
            android:label="@string/widget_label_new_shift">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider_new_shift" />
        </receiver>

        <receiver
            android:name=".widget.NextShiftWidgetProvider"
            android:label="@string/widget_label_next_shift">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <intent-filter>
                <action android:name="data_provider_update" />
            </intent-filter>

            <!-- Handle device time changes -->
            <intent-filter>
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.DATE_CHANGED" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.LOCALE_CHANGED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider_next_shift" />
        </receiver>

        <receiver
            android:name=".widget.ShiftListWidgetProvider"
            android:label="@string/widget_label_shift_list">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <intent-filter>
                <action android:name="data_provider_update" />
            </intent-filter>

            <!-- Handle device time changes -->
            <intent-filter>
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.DATE_CHANGED" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.LOCALE_CHANGED" />
            </intent-filter>


            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider_shift_list" />
        </receiver>

    </application>

</manifest>
