<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dgsd.android.ShiftTracker"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="dgsd.permission.READ"/>

    <uses-sdk android:minSdkVersion="9" android:targetSdkVersion="16"/>

    <application
        android:name="com.dgsd.android.ShiftTracker.StPaidApp"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/Theme.shift_tracker"
        android:backupAgent="com.dgsd.android.ShiftTracker.StBackupAgent">

        <meta-data android:name="com.google.android.backup.api_key"
                   android:value="AEdPqrEAAAAI5LxgkBOyLFOxkGNgntS2S_Grczgnf3RIst5Hlw" />

        <!-- Providers -->
        <provider
            android:authorities="com.dgsd.android.ShiftTracker.Data.Provider"
            android:multiprocess="false"
            android:name=".Data.Provider"/>

        <provider
            android:authorities="com.dgsd.android.ShiftTracker.Data.Provider.internal_file_provider"
            android:name=".Data.InternalFileProvider" />

        <!-- Services -->
        <service android:name=".Service.DbService" />
        <service android:name=".Service.NotificationService"/>
        <service android:name=".Service.AlarmScheduleService"/>
        <service android:name=".Service.ImportFreeAppData"/>

        <service android:name=".Service.ShiftListWidgetService"
                 android:permission="android.permission.BIND_REMOTEVIEWS"
                 android:exported="false"/>


        <!-- Receviers -->
        <receiver android:name=".Receiver.AlarmReceiver" android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <receiver
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:name=".Receiver.ShiftListWidgetProvider"
            android:enabled="@bool/list_widget_enabled">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <intent-filter>
                <action android:name="com.dgsd.android.ShiftTracker.action.list_app_widget_update" />
            </intent-filter>

            <!-- Handle device time changes -->
            <intent-filter>
                <action android:name="android.intent.action.TIME_SET"/>
                <action android:name="android.intent.action.DATE_CHANGED"/>
                <action android:name="android.intent.action.TIMEZONE_CHANGED"/>
                <action android:name="android.intent.action.LOCALE_CHANGED"/>
            </intent-filter>


            <meta-data android:name="android.appwidget.provider"
                       android:resource="@xml/shift_list_widget_provider"/>
        </receiver>

        <receiver android:name=".Receiver.NextShiftWidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <intent-filter>
                <action android:name="com.dgsd.android.ShiftTracker.action.next_shift_app_widget_update" />
            </intent-filter>

            <!-- Handle device time changes -->
            <intent-filter>
                <action android:name="android.intent.action.TIME_SET"/>
                <action android:name="android.intent.action.DATE_CHANGED"/>
                <action android:name="android.intent.action.TIMEZONE_CHANGED"/>
                <action android:name="android.intent.action.LOCALE_CHANGED"/>
            </intent-filter>

            <meta-data android:name="android.appwidget.provider"
                       android:resource="@xml/next_shift_widget_provider" />
        </receiver>

        <receiver android:name=".Receiver.NewShiftWidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data android:name="android.appwidget.provider"
                       android:resource="@xml/new_shift_widget_provider" />
        </receiver>

        <!-- Activities -->
        <activity
            android:name="StartupActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity"/>
        <activity android:name=".LicensesActivity" />
        <activity android:name=".SettingsActivity"/>
        <activity android:name=".EditShiftActivity" android:windowSoftInputMode="stateHidden"/>
    </application>
</manifest>
